*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body,
h1,
h2,
p {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

body {
  min-width: 360px;
  color: $text-primary;
  background: $surface-primary;
  font-family: $font-family-sans;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

a {
  color: inherit;
}
